:root{
    font-size: 10px;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

.body{
    background-color: rgb(230, 230, 230);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    background-color: aliceblue;
}
.header-icon{
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
    border-radius: 3rem;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 1rem;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
.nav-link:active{
    text-decoration: none;
    color: black;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem 0 4rem 0;
    padding: 2rem 2rem;
    width: 60%;
    height: 30rem;
    border-bottom: .2rem solid rgb(255, 150, 0);
    border-top: .2rem solid rgb(255, 150, 0);
}
.description-img{
    border-radius: 2rem;
    width: 16rem;
    box-shadow: .5rem .5rem 1rem black;
}
.description-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
}
.description-title{
    font-size: 4rem;
    color: rgb(255, 150, 0);
}
.description-resume{
    font-weight: lighter;
    font-size: 2rem;
}
.social-icon{
    text-decoration: none;
    color: rgb(255, 150, 0);
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 50rem;
    background-color: aliceblue;
    padding-top: 4rem;
}
.items-container{
    display: flex;
}
.portfolio-title{
    text-align: center;
    width: 100%;
    font-size: 10rem;
    border-bottom: .2rem solid rgb(255, 150, 0);;
}

